<app-confirm-dialog></app-confirm-dialog>

<div class="grid" *ngIf="processInfo$ | async as pi">
  <div [ngClass]="pi.processingStatus ? 'lg:col-3 md:col-12 col-12' : 'col-12'">
    <p-tree [value]="treeValues" selectionMode="single"
            (onNodeSelect)="nodeSelect($event, pi.processingStatus)">
    </p-tree>
  </div>
  <div class="lg:col-9 md:col-12 col-12" *ngIf="pi.processingStatus">
    <p-panel>
      <ng-template pTemplate="header">
          <div class="flex justify-content-start p-panel-title" style="order:0">{{pi.processorType | processorTypeName}}</div>
          <div class="flex justify-content-end flex-grow-1" *ngIf="pi.processingStatus !== PROGRESS_STATUS">
            <button
              pButton
              pRipple
              icon="pi pi-refresh"
              class="p-button-rounded p-button-secondary p-button-outlined"
              (click)="onRefreshButton($event, pi)"
              >
            </button>
          </div>
      </ng-template>
    <!--
    <p-panel header="{{pi.processorType | processorTypeName}}"  p-panel-title >
    -->
      <p-table [value]="pi.processDetails || []" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:auto">Time</th>
            <th style="width:100%">Info</th>
            <th style="width:auto">Rows</th>
            <th style="width:auto">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-processDetail>
          <tr>
            <td style="white-space: nowrap">{{processDetail.time | date:'dd.MM.YYYY HH:mm:ss'}}</td>
            <td>
              <div class="flex align-content-center">
                <div class="flex align-items-center">
                  {{processDetail.info.message}}
                  <ul class="list-none text-sm" *ngIf="processDetail?.info?.items?.length > 0">
                    <li *ngFor="let item of processDetail.info.items">{{item}}</li>
                  </ul>
                  <span *ngIf="processDetail.processingAction?.actionType === 'ADD_ARTIST'">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined ml-2" (click)="resolveActionAddArtist(processDetail.processingAction)"></button>
                  </span>
                </div>
              </div>
            </td>
            <td>{{processDetail.rows}}</td>
            <td><app-processing-status-indicator processingStatus="{{processDetail.status}}"></app-processing-status-indicator></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr class="p-rowgroup-footer" *ngIf="pi.processingStatus === PROGRESS_STATUS">
            <td colspan="3"><p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar></td>
          </tr>
        </ng-template>
      </p-table>
  </p-panel>
</div>
</div>
