<app-confirm-dialog></app-confirm-dialog>

<div class="grid" *ngIf="processInfo$ | async as pi">
  <div [ngClass]="pi.processingStatus ? 'lg:col-3 md:col-12 col-12' : 'col-12'">
    <p-tree [value]="treeValues" selectionMode="single"
            (onNodeSelect)="nodeSelect($event, pi.processingStatus)">
    </p-tree>
  </div>
  <div class="lg:col-9 md:col-12 col-12" *ngIf="pi.processingStatus">
    <div class="p-panel p-component">
      <div class="p-panel-header flex"
           [ngClass]="pi.processingStatus === SUCCESS_STATUS ? 'bg-success': pi.processingStatus === FAILURE_STATUS ? 'bg-failure': ''">
        <div class="flex align-items-center justify-content-start p-panel-title h-3rem" style="order:0"
             [ngClass]="pi.processingStatus === SUCCESS_STATUS || pi.processingStatus === FAILURE_STATUS ? 'text-white' : ''"
        >{{pi.processorType | processorTypeName}}</div>
        <div class="flex align-items-center flex-grow-1 mr-1">
          <div *ngIf="pi.processingEvent && pi.processingStatus !== SUCCESS_STATUS" class="text-sm font-light ml-2"
               [ngClass]="pi.processingStatus === FAILURE_STATUS ? 'text-white' : 'text-primary'"
          >
            <div>
              {{pi.processingEvent?.lastUpdated | date:'dd.MM.YYYY HH:mm:ss'}}
            </div>
            <div class="text-overflow-ellipsis">
              {{pi.processingEvent?.eventText}}
            </div>
          </div>
        </div>
        <div class="flex align-items-center" *ngIf="pi.processingStatus !== PROGRESS_STATUS">
          <button
            pButton
            pRipple
            icon="pi pi-refresh"
            class="p-button-rounded p-button-outlined"
            [ngClass]="pi.processingStatus === SUCCESS_STATUS || pi.processingStatus === FAILURE_STATUS ? 'text-white' : 'p-button-secondary'"
            (click)="onRefreshButton($event, pi)"
          >
          </button>
        </div>

      </div>

      <div class="p-panel-content">
        <p-table [value]="pi.processDetails || []" styleClass="p-datatable-sm" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th style="width:auto">Time</th>
              <th style="width:100%">Info</th>
              <th style="width:auto">Rows</th>
              <th style="width:auto">Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-processDetail>
            <tr>
              <td style="white-space: nowrap">{{processDetail.time | date:'dd.MM.YYYY HH:mm:ss'}}</td>
              <td>
                <div class="flex align-content-center">
                  <div class="flex align-items-center">
                    {{processDetail.info.message}}
                    <ul class="list-none text-sm" *ngIf="processDetail?.info?.items?.length > 0">
                      <li *ngFor="let item of processDetail.info.items">{{item}}</li>
                    </ul>
                    <span *ngIf="processDetail.processingAction?.actionType === 'ADD_ARTIST'">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined ml-2" (click)="resolveActionAddArtist(processDetail.processingAction)"></button>
                  </span>
                  </div>
                </div>
              </td>
              <td>{{processDetail.rows}}</td>
              <td><app-processing-status-indicator processingStatus="{{processDetail.status}}"></app-processing-status-indicator></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr class="p-rowgroup-footer" *ngIf="pi.processingStatus === PROGRESS_STATUS">
              <td colspan="3"><p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar></td>
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
    <!--
    <p-panel>
      <ng-template pTemplate="header">
        <div class="flex align-items-center justify-content-start p-panel-title h-3rem" style="order:0">{{pi.processorType | processorTypeName}}</div>
        <div class="flex align-items-center flex-grow-1 m-1">
          <div *ngIf="pi.processingEvent && pi.processingStatus !== SUCCESS_STATUS" class="text-sm font-light text-primary">
            <div>
              {{pi.processingEvent.lastUpdated | date:'dd.MM.YYYY HH:mm:ss'}}
            </div>
            <div class="text-overflow-ellipsis">
              {{pi.processingEvent.eventText}}
            </div>
          </div>
        </div>
        <div class="flex" *ngIf="pi.processingStatus !== PROGRESS_STATUS">
          <button
            pButton
            pRipple
            icon="pi pi-refresh"
            class="p-button-rounded p-button-secondary p-button-outlined"
            (click)="onRefreshButton($event, pi)"
            >
          </button>
        </div>
      </ng-template>

      <p-table [value]="pi.processDetails || []" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:auto">Time</th>
            <th style="width:100%">Info</th>
            <th style="width:auto">Rows</th>
            <th style="width:auto">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-processDetail>
          <tr>
            <td style="white-space: nowrap">{{processDetail.time | date:'dd.MM.YYYY HH:mm:ss'}}</td>
            <td>
              <div class="flex align-content-center">
                <div class="flex align-items-center">
                  {{processDetail.info.message}}
                  <ul class="list-none text-sm" *ngIf="processDetail?.info?.items?.length > 0">
                    <li *ngFor="let item of processDetail.info.items">{{item}}</li>
                  </ul>
                  <span *ngIf="processDetail.processingAction?.actionType === 'ADD_ARTIST'">
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined ml-2" (click)="resolveActionAddArtist(processDetail.processingAction)"></button>
                  </span>
                </div>
              </div>
            </td>
            <td>{{processDetail.rows}}</td>
            <td><app-processing-status-indicator processingStatus="{{processDetail.status}}"></app-processing-status-indicator></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr class="p-rowgroup-footer" *ngIf="pi.processingStatus === PROGRESS_STATUS">
            <td colspan="3"><p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar></td>
          </tr>
        </ng-template>
      </p-table>
  </p-panel>
  -->
</div>
</div>
