<div class="flex">
  <button
    *ngIf="crudActions.indexOf(CRUDAction.EA_CREATE) !== -1"
    pButton
    pRipple
    icon="pi pi-plus"
    class="p-button-rounded p-button-success p-button-outlined"
    [ngClass]="crudActions.indexOf(CRUDAction.EA_DELETE) !==0 || crudActions.indexOf(CRUDAction.EA_UPDATE) !==0 ? 'mr-1' : ''"
    (click)="crudEvent.emit({action: CRUDAction.EA_CREATE, data: undefined})">
  </button>
  <button
    *ngIf="crudActions.indexOf(CRUDAction.EA_UPDATE) !== -1"
    pButton
    pRipple
    icon="pi pi-pencil"
    class="p-button-rounded p-button-outlined p-button-success"
    [ngClass]="crudActions.indexOf(CRUDAction.EA_DELETE) !== 0 ? 'mr-1' : ''"
    (click)="crudEvent.emit({action: CRUDAction.EA_UPDATE, data})">
  </button>
  <button
    *ngIf="crudActions.indexOf(CRUDAction.EA_DELETE) !== -1"
    pButton
    pRipple
    icon="pi pi-trash"
    class="p-button-rounded p-button-outlined p-button-danger"
    (click)="crudEvent.emit({action: CRUDAction.EA_DELETE, data})">
  </button>
</div>
