@if (displayProgress) {
  <app-progress-spinner-overlay></app-progress-spinner-overlay>
}

@if (databaseBackupInfo$ | async; as databaseBackupInfo) {
  <div>
    <button pButton type="button"
      [text]="true"
      severity="secondary"
      [iconOnly]="true"
      [pTooltip]="getBackupTooltipText(databaseBackupInfo)"
      tooltipPosition="left"
      (click)="backupSubject.next(undefined)"
      >
      <i class="pi pi-file-export"></i>
    </button>
    @if (backupAction$ | async) {
    }
  </div>
}
