<p-dialog [(visible)]="displayProp" [style]="{width: '70vw'}" [modal]="true" styleClass="p-fluid" header="Product Edit">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="grid">
        <div class="col-5">

          <div class="field mt-2">
            <p-dropdown formControlName="dvOrigin" [options]="dvOrigins" dataKey="id" optionLabel="name"></p-dropdown>
          </div>

          <div class="field">
            <label for="title">Title</label>
            <input type="text" pInputText id="title" formControlName="title" required
                   [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['title'].errors}"
                   [autofocus]="true"
            />
          </div>

          <div class="field">
            <label for="originalTitle">Original Title</label>
            <input type="text" pInputText id="originalTitle" formControlName="originalTitle"
            />
          </div>

          <div class="field">
            <label for="year">Year</label>
            <p-inputNumber id="year" mode="decimal" [allowEmpty]="true" [showClear]="true" [useGrouping]="false" formControlName="year"></p-inputNumber>
          </div>

          <div class="field">
            <label for="frontInfo">Front Info</label>
            <p-autoComplete
              [suggestions]="filteredFrontInfos"
              (completeMethod)="searchFrontInfos($event)"
              id="frontInfo"
              formControlName="frontInfo"
              [multiple]="false"
              [dropdown]="true"
            >
            </p-autoComplete>
          </div>
          <div class="field mb-0">
            <label for="notes">Notes</label>
            <textarea id="notes" [rows]="2" pInputTextarea formControlName="notes"></textarea>
          </div>

        </div>
        <div class="col-7 mt-2 flex flex-column">
          <div class="flex flex-grow-1">
            <textarea pInputTextarea id="description" formControlName="description" style="resize: none"></textarea>
          </div>
          <div class="flex mt-2">
            <button
              pButton type="button"
              label="Preview"
              iconPos="right"
              class="p-button-rounded"
              [ngClass]="{'p-button-outlined': !editForm.value.description}"
              icon="pi pi-window-maximize"
              (click)="previewDescription()"
            >
            </button>
          </div>
        </div>
      </div>
      <div>
        <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['title'].errors ? 'visible' : 'hidden'}" >Name is required.</small>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  <ng-container *ngIf="saveAction$ | async as saver"></ng-container>

  <app-text-view-dialog
    *ngIf="!!editForm.value.description"
    [(display)]="displayDescription"
    header="Description"
    [htmlText]="editForm.value.description">
  </app-text-view-dialog>


</p-dialog>

