<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" header="Artifact Edit" (onShow)="onShow()">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <p-fluid>
        @if (isSelectableArtifactTypeId(editForm.value['artifactTypeId'])) {
          <div class="mb-4">
            <p-selectButton
              [options]="ARTIFACT_TYPES"
              optionLabel="name"
              optionValue="code"
              [multiple]="false"
              [allowEmpty]="false"
              formControlName="artifactTypeId">
            </p-selectButton>
          </div>
        }

        @if (artifactTypeConfig?.hasArtist) {
          <div class="mb-4">
            <label for="artistId">Artist</label>
            <p-autoComplete #autofocused
              [suggestions]="filteredArtists"
              (completeMethod)="searchArtists($event)"
              id="artistId"
              formControlName="artistId"
              dataKey="id"
              optionLabel="name"
              [multiple]="false"
              [dropdown]="true"
              [forceSelection]="true"
              >
            </p-autoComplete>
          </div>
        }

        @if (artifactTypeConfig?.hasPerformerArtist) {
          <div class="mb-4">
            <label for="performerArtistId">Performer Artist</label>
            <p-autoComplete
              [suggestions]="filteredPerformerArtists"
              (completeMethod)="searchPerformerArtists($event)"
              id="performerArtistId"
              formControlName="performerArtistId"
              dataKey="id"
              optionLabel="name"
              [multiple]="false"
              [dropdown]="true"
              [forceSelection]="true"
              >
            </p-autoComplete>
          </div>
        }

        <div class="mb-4">
          <label for="title">Title</label>
          <input #autofocusednoartist
            type="text"
            pInputText
            id="title"
            formControlName="title"
            required
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['title'].errors}"
            />
        </div>

        @if (artifactTypeConfig?.hasYear) {
          <div class="mb-4">
            <label for="year">Year</label>
            <input type="number" pInputText id="year" formControlName="year"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['year'].errors}"
              />
          </div>
        }

        <div class="grid grid-cols-2 gap-4">
          <div class="mb-4">
            <label for="duration">
              Duration ({{this.editForm.value.duration * 1000 | date:'HH:mm:ss':'GMT'}})
              @if (this.editItem?.id) {
                <span (click)="onUpdateSizeDuration($event)" class="cursor-pointer"><i class="pi pi-refresh"></i></span>
              }
              <!--
              <p-button icon="pi pi-refresh" [text]="true" styleClass="p-button-text p-0 m-0"></p-button>
              -->
            </label>
            <input type="number" pInputText id="duration" formControlName="duration"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['duration'].errors}"
              />
          </div>
          <div class="mb-4">
            <label for="size">
              Size ({{this.editForm.value.size | fileSize}})
              @if (this.editItem?.id) {
                <span (click)="onUpdateSizeDuration($event)" class="cursor-pointer"><i class="pi pi-refresh"></i></span>
              }
            </label>
            <input type="number" pInputText id="size" formControlName="size"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['size'].errors}"
              />
          </div>
        </div>

        <div>
          <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['title'].errors ? 'visible' : 'hidden'}" >Title is required.</small>
          <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['artistId'].errors ? 'visible' : 'hidden'}" >Artist is required.</small>
        </div>

      </p-fluid>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  @if (saveAction$ | async; as saver) {
  }

  @if (sizeDurationAction$ | async; as sizeDuration) {
  }

</p-dialog>
