<app-confirm-dialog></app-confirm-dialog>


@if (filteredArtifacts$ | async; as artifactsTable) {
  <div>
    <p-table #dt
      size="small"
      [value]="artifactsTable"
      [rows]="10"
      [paginator]="true"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 15, 20, 50]"
      [(first)]="first"
      dataKey="id"
      stateStorage="session"
      stateKey="artifacts-table-session"
      [globalFilterFields]="['artist.artistName', 'performerArtist.artistName', 'title']"
      (onFilter)="onFilter($event)"
      selectionMode="single"
      [(selection)]="selectedItem"
      sortMode="multiple"
      sortField=""
      >
      <ng-template pTemplate="caption">
        <div class="flex">
          <div class="flex items-center justify-between text-xl mr-2">Music</div>
          @if (!this.routedArtifactId) {
            <app-crud-panel
              class="flex items-center"
              [crudActions]="[CRUDAction.EA_CREATE]"
              (crudEvent)="crudEvent($event)"
            ></app-crud-panel>
          }
          @if (!this.routedArtifactId) {
            <form [formGroup]="filterForm" class="flex items-center whitespace-nowrap ml-2">
              <p-selectButton
                [options]="ARTIST_TYPES"
                optionLabel="name"
                optionValue="code"
                [multiple]="false"
                [allowEmpty]="false"
                formControlName="artistType"
                class="mr-1"
              ></p-selectButton>
              <p-selectButton
                [options]="ARTIFACT_TYPES"
                optionLabel="name"
                optionValue="code"
                [multiple]="true"
                [allowEmpty]="true"
                formControlName="artifactTypes"
              ></p-selectButton>
            </form>
          }
          @if (selectedItem) {
            <button pButton type="button" label="Tracks" icon="pi pi-list" iconPos="left"
              class="ml-4 p-button-outlined p-button-secondary"
              (click)="onTracksButton()"
            ></button>
          }
          @if (selectedItem) {
            <button pButton type="button" label="Media&nbsp;files" icon="pi pi-file" iconPos="left"
              class="ml-1 p-button-outlined p-button-secondary"
              (click)="onMediaFilesButton()"
            ></button>
          }
          @if (selectedItem) {
            <button pButton type="button" label="Tags" icon="pi pi-tags" iconPos="left"
              class="ml-1 p-button-outlined p-button-secondary !p-2"
              (click)="onTagsButton($event)"
              >
            </button>
          }
          <div class="flex justify-end flex-grow-1 ml-2">
            <span class="p-input-icon-left flex items-center">
              <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                  pInputText
                  type="text"
                  [value]="globalFilterValue"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains');
                   selectedItem=undefined;"
                  placeholder="Search keyword"
                  />
              </p-iconfield>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:0">Id&nbsp;<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="artist.artistName" style="width:20%; white-space: nowrap">
            <div class="flex justify-between items-center">
              Artist Name&nbsp;
              <p-sortIcon field="artist.artistName"></p-sortIcon>
              <p-columnFilter field="artist.artistName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" class="ml-auto">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="filterArtists" placeholder="Any" (onChange)="filter($event.value)">
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block align-middle">
                        <span>{{ option.label }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="title">Title&nbsp;<p-sortIcon field="title"></p-sortIcon></th>
          @if (getArtistType() == 'C') {
            <th style="width:20%">Performer Artist Name</th>
          }
          <th pSortableColumn="year" style="width:6em">Year&nbsp;<p-sortIcon field="year"></p-sortIcon></th>
          <th style="width:0; text-align: center">Duration</th>
          <th style="width:0; text-align: center">Size</th>
          <th style="width:0; text-align: center">Type</th>
          <th pSortableColumn="insertDateTime" style="width:0; text-align: center; white-space: nowrap">Inserted&nbsp;<p-sortIcon field="insertDateTime"></p-sortIcon></th>
          <th style="width:0; text-align: center; white-space: nowrap">
            Tags
            <p-columnFilter field="tags" matchMode="filter_tags" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="filterTags" placeholder="Any" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block align-middle">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="width:0"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr [pSelectableRow]="item">
          <td>{{item.id}}</td>
          <td>{{item.artist?.artistName}}</td>
          <td>{{item.title}}</td>
          @if (getArtistType() == 'C') {
            <td>{{item.performerArtist?.artistName}}</td>
          }
          <td>{{item.year}}</td>
          <td>
            <div style="text-align: right">{{item.duration * 1000 | date:'HH:mm:ss':'GMT'}}</div>
          </td>
          <td>
            <div style="text-align: right; white-space: nowrap">@if (item.size) {
              <span>{{item.size | fileSize}}</span>
            }</div>
          </td>
          <td>{{item.artifactType.name}}</td>
          <td><div class="whitespace-nowrap"><small>{{item.insertDateTime | date:'dd.MM.YYYY HH:mm:ss'}}</small></div></td>
          <td>
            @if (item.tags) {
              <div class="flex flex-wrap gap-1">
                @for (tag of item.tags; track tag) {
                  <div>
                    @if (tag) {
                      <p-chip label="{{tag}}" styleClass="flex items-center text-xs yellow-chip !p-1 border border-gray-400" ></p-chip>
                    }
                  </div>
                }
              </div>
            }
          </td>
          <td>
            <app-crud-panel class="app-crud-panel-small" [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
          </td>
        </tr>
      </ng-template>
    </p-table>
    @if (deleteAction$ | async) {
    }
    @if (editAction$ | async; as artifactEdit) {
      @if (displayForm) {
        <app-artifact-form [(display)]="displayForm" [artists]="artifactEdit[0]" [editItem]="artifactEdit[1]" [artistTypeCode]="this.filterForm.value['artistType']!" (onSavedItem)="savedEditData($event)"></app-artifact-form>
      }
    }
    @if (updateTagsAction$ | async; as tagsEditItem) {
      @if (displayUpdateTagsForm) {
        <app-tagged-form [(display)]="displayUpdateTagsForm" [tags]="tagsEditItem[0]"  [editItem]="tagsEditItem[1]" tagResourceName="artifact" (onSavedItem)="savedUpdateTags()"></app-tagged-form>
      }
    }
  </div>
} @else {
  @if (!errorObject) {
    <app-loading></app-loading>
  }
}
