<app-confirm-dialog></app-confirm-dialog>

<ng-template #loadingOrError>
  <ng-container *ngIf="!errorObject">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<div *ngIf="data$ | async as data; else loadingOrError">

  <p-table styleClass="p-datatable-sm" responsiveLayout="scroll" [value]="data[0]" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="flex">
        <div class="flex align-items-center justify-content-between text-xl mr-2">{{data[1].artistName}} - {{data[1].title}} ({{data[1].year}}) Compositions</div>
        <div class="flex align-self-end app-crud-panel-small"><app-crud-panel [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel></div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:0">Disk #</th>
        <th style="width:0">Track #</th>
        <th>Title</th>
        <th style="width:0">Duration</th>
        <th style="width:0">Size</th>
        <th style="width:0">Bitrate</th>
        <th style="width:30%">File name</th>
        <th style="width:0"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.diskNum}}</td>
        <td>{{item.num | number : '2.0-0'}}</td>
        <td>{{item.title}}</td>
        <td>{{item.duration * 1000 | date:'HH:mm:ss':'GMT'}}</td>
        <td style="text-align: right; white-space: nowrap">{{item.size | fileSize}}</td>
        <td style="text-align: right">{{item.bitrate}}</td>
        <td>{{item.fileName}}</td>
        <td>
          <div class="app-crud-panel-small">
            <app-crud-panel [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>

  <ng-container *ngIf="crudOperationAction$ | async"></ng-container>

</div>
