<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Update Durations">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="field">
        <label for="mediaFile">
          Media File<span *ngIf="editFormData$ | async as editFormData">&nbsp; {{getMediaFileDuration(editFormData.mediaFile) * 1000 | date:'HH:mm:ss':'GMT'}}</span>
        </label>
        <p-dropdown
          formControlName="mediaFile"
          id="mediaFile"
          [options]="mediaFiles"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
          [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['mediaFile'].errors}"
        ></p-dropdown>
      </div>

      <div class="field">
        <label for="chapters">
          Chapters
          <span
            *ngIf="this.editForm.value.mediaFile"
            class="cursor-pointer mr-2"
            (click)="onUpdateChaptersFromMediaFile($event, this.editForm.value.mediaFile)"
            pTooltip="Update chapters from file"
          >
            <i class="pi pi-download"></i>
          </span>
          <span *ngIf="editFormData$ | async as editFormData">
            <span *ngIf="this.editForm.value.mediaFile && getChapters(editFormData.chapters || '').length > 0">
              <span
                class="cursor-pointer"
                pTooltip="Convert durations to chapters"
                (click)="onConvertDurationsToChapters($event, this.editForm.value.mediaFile, getChapters(editFormData.chapters || ''))"
              >
                <i class="pi pi-refresh"></i>
              </span>
              ({{getChapters(editFormData.chapters || "").length}} lines)
            </span>
          </span>
        </label>
        <textarea
          pInputTextarea
          id="chapters"
          formControlName="chapters"
          style="resize: none"
          [autoResize]="true"
          rows="10"
          [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['chapters'].errors}"
        ></textarea>
      </div>

    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Update" icon="pi pi-play" class="p-button-text" (click)="this.execute()"></button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="update$ | async"></ng-container>
<ng-container *ngIf="updateChapters$ | async"></ng-container>
