<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Update Durations">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="grid mt-2">
        <div class="col field">
          <label for="mediaFile">Media File</label>
          <p-dropdown
            formControlName="mediaFile"
            id="mediaFile"
            [options]="mediaFiles"
            optionLabel="name"
            optionValue="id"
            appendTo="body"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['mediaFile'].errors}"
          ></p-dropdown>
        </div>

        <div class="col field">
          <label for="chapters">
            Chapters
            <span *ngIf="this.editForm.value.mediaFile" (click)="onUpdateChaptersFromMediaFile($event, this.editForm.value.mediaFile)" class="cursor-pointer"><i class="pi pi-refresh"></i></span>
          </label>
          <textarea
            pInputTextarea
            id="chapters"
            formControlName="chapters"
            style="resize: none"
            rows="10"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['chapters'].errors}"
          ></textarea>
        </div>
      </div>

    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Update" icon="pi pi-play" class="p-button-text" (click)="this.execute()"></button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="update$ | async"></ng-container>
<ng-container *ngIf="updateChapters$ | async"></ng-container>
