<app-confirm-dialog></app-confirm-dialog>

<ng-template #loadingOrError>
  <ng-container *ngIf="!errorObject">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<div *ngIf="artistTable$ | async as artistTable; else loadingOrError">

  <div *ngIf="artistDetail$ | async as artistDetail">

    <p-dialog [header]="displayArtistName" [(visible)]="displayArtistInfo" [modal]="true" [style]="{width: '50vw'}"
              [draggable]="false" [resizable]="false">
      <p class="m-0" [innerHTML]=artistDetail.biography>
      </p>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayArtistInfo=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-dialog>

  </div>

  <p-table #dt [value]="artistTable" [rows]="10" [paginator]="true"
           [globalFilterFields]="['artistName', 'styles']">

    <ng-template pTemplate="caption">
      <div class="flex">
        <div class="flex align-items-center justify-content-between text-xl mr-2">Artists</div>
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-button-outlined" (click)="newArtist()"></button>
        <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th style="width:0">Genre</th>
        <th style="width:50%">Styles</th>
        <th style="width:0">Info</th>
        <th style="width:0">Lyrics</th>
        <th style="width:0"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.artistName}}</td>
        <td>
          <p-tag value="N/A" *ngIf="!item.genre" severity="warning"></p-tag>
          <p-tag value="{{item.genre}}" *ngIf="item.genre"></p-tag>
        </td>
        <td>
          <div class="flex flex-wrap" *ngIf="item.styles">
            <div *ngFor="let style of item.styles">
              <p-tag value="{{style}}" styleClass="flex mr-1 mb-1" [rounded]="true" *ngIf="style"></p-tag>
            </div>
          </div>
        </td>
        <td>
          <div class="flex justify-content-center" *ngIf="item.detailId">
            <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined" (click)="displayArtistDetail(item)"></button>
          </div>
        </td>
        <td>
          <div class="flex justify-content-center">
            <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-secondary p-button-outlined"></button>
          </div>
        </td>
        <td>
          <div class="flex">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-success mr-1"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded  p-button-outlined p-button-danger" (click)="deleteArtist(item)"></button>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>

  <app-artist-form [(display)]="displayForm" [table]="artistTable"></app-artist-form>

</div>

