<app-confirm-dialog></app-confirm-dialog>


@if (data$ | async; as data) {
  <div>
    <p-table #dt
      size="small"
      responsiveLayout="scroll"
      [columns]="cols"
      [value]="data[0]"
      dataKey="id"
      [globalFilterFields]="['title']"
      (selectionChange)="onTableSelectionChange($event)"
      >
      <ng-template pTemplate="caption">
        <div class="flex">
          <div class="flex items-center justify-between text-xl mr-2">
            @if (this.artifactId) {
              <div><span class="text-primary">{{data[1] | artifactCaption}}</span>&nbsp;Tracks</div>
            }
            @if (this.dvProductId) {
              <div>Product&nbsp;<span class="text-primary">{{data[0][0].dvProduct?.title}}</span>&nbsp;Tracks</div>
            }
          </div>
          @if (this.artifactId) {
            <div class="flex items-center app-crud-panel">
              <app-crud-panel [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
            </div>
          }
          <div class="flex items-center justify-end flex-grow-1">
            @if (isArtifactVideoWithProducts || isArtifactTypeVideoMusic) {
              <p-button
                icon="pi pi-angle-up"
                styleClass="mr-2"
                [text]="true"
                severity="secondary"
                pTooltip="Reset track numbers"
                tooltipPosition="left"
                (onClick)="resetTrackNumbers($event)"
              ></p-button>
            }
            @if (isArtifactTypeVideo) {
              <p-button
                icon="pi pi-arrows-h"
                styleClass="mr-2"
                [text]="true"
                severity="secondary"
                pTooltip="Update durations"
                tooltipPosition="left"
                (onClick)="showUpdateDurations($event)"
              ></p-button>
            }
            @if (isArtifactTypeVideo && (selectedItems.length > 0)) {
              <p-button
                icon="pi pi-video"
                styleClass="mr-2"
                [text]="true"
                severity="secondary"
                pTooltip="Update video types"
                tooltipPosition="left"
                (onClick)="showUpdateDVTypes($event)"
              ></p-button>
            }
            @if (selectedItems.length > 0) {
              <p-button
                icon="pi pi-tags"
                styleClass="mr-2"
                [text]="true"
                severity="secondary"
                pTooltip="Update tags"
                tooltipPosition="left"
                (onClick)="showUpdateTags($event)"
              ></p-button>
            }
            @if (isArtifactVideoWithProducts || isArtifactTypeVideoMusic) {
              <p-button
                icon="pi pi-file-import"
                styleClass="mr-2"
                [text]="true"
                severity="secondary"
                pTooltip="Import tracks"
                tooltipPosition="left"
                (onClick)="showImportTracks($event)"
              ></p-button>
            }
            <span class="p-input-icon-left flex items-center">
              <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains');selectedItem=undefined;"
                  placeholder="Search keyword" />
              </p-iconfield>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
          <th style="width:0">Id</th>
          @if (this.dvProductId) {
            <th style="width:0">Artifact</th>
          }
          @if (isArtifactTypeMusic) {
            <th style="width:0">Disk #</th>
          }
          <th style="width:0;">Track</th>
          @if (isArtifactTypeVideoMusic || data[1].artist?.artistType === 'C') {
            <th>Artist</th>
          }
          <th>Title</th>
          @if (data[1].artist?.artistType === 'C') {
            <th>Performer Artist</th>
          }
          <th style="width:0">Duration</th>
          <th style="width:0">Size</th>
          <th style="width:0">Bitrate</th>
          <th style="width:30%">File name</th>
          @if (isArtifactVideoWithProducts) {
            <th style="width:0">Product</th>
          }
          @if (isArtifactTypeVideo) {
            <th style="width:0; white-space: nowrap">Video Type</th>
          }
          @if (this.hasTags) {
            <th style="width:0; text-align: center; white-space: nowrap">Tags</th>
          }
          @if (this.artifactId) {
            <th style="width:0">
              <p-button
                styleClass="mr-2"
                [text]="true"
                icon="pi pi-file"
                severity="secondary"
                (click)="dt.exportCSV()"
                pTooltip="CSV"
                tooltipPosition="bottom">
              </p-button>
            </th>
          }
        </tr>
        <tr>
          <th [colSpan]="1 + (this.dvProductId ? 1 : 0) + (isArtifactTypeMusic ? 1 : 0) + (isArtifactTypeVideoMusic ? 1 : 0) + 2 + (data[1].artist?.artistType === 'C' ? 2 : 0)">Rows: {{dt.processedData.length}}</th>
          <th>{{sumByKey(dt.processedData, 'duration')  * 1000 | date:'HH:mm:ss':'GMT'}}</th>
          <th [colSpan]="4 + (isArtifactTypeVideo ? 2 : 0) + (this.artifactId ? 1 : 0)">{{sumTrackSize(dt.processedData) | fileSize}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td><p-tableCheckbox [value]="item" /></td>
          <td>{{item.id}}</td>
          @if (this.dvProductId) {
            <td style="white-space: nowrap"><a href="#" (click)="onArtifactClick($event, item, data[1])">{{item.artifact.title}}</a></td>
          }
          @if (isArtifactTypeMusic) {
            <td>{{item.diskNum}}</td>
          }
          <td>{{item.num | number : '2.0-0'}}</td>
          @if (isArtifactTypeVideoMusic || data[1].artist?.artistType === 'C') {
            <td>{{item.artist?.artistName}}</td>
          }
          <td>{{item.title}}</td>
          @if (data[1].artist?.artistType === 'C') {
            <td>{{item.performerArtist?.artistName}}</td>
          }
          <td>{{item.duration * 1000 | date:'HH:mm:ss':'GMT'}}</td>
          <td style="text-align: right; white-space: nowrap">@if (item.size) {
            <div>{{item.size | fileSize}}</div>
          }</td>
          <td style="text-align: right">{{item.bitRate}}</td>
          <td>
            <div class="flex flex-col text-sm">
              @for (mediaFile of item.mediaFiles; track mediaFile) {
                <div>{{mediaFile.name}}</div>
              }
            </div>
          </td>
          @if (isArtifactVideoWithProducts) {
            <td style="text-align: center; white-space: nowrap">
              @if (item.dvProduct) {
                <div class="flex justify-center app-crud-panel-small">
                  <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined" (click)="displayProduct(item)"></button>
                </div>
              }
            </td>
          }
          @if (isArtifactTypeVideo) {
            <td style="text-align: center; white-space: nowrap">{{item.dvType.name}}</td>
          }
          @if (this.hasTags) {
            <td>
              @if (item.tags) {
                <div class="flex flex-wrap gap-1 justify-center">
                  @for (tag of item.tags; track tag) {
                    <div >
                      @if (tag) {
                        <p-chip label="{{tag}}" styleClass="text-xs yellow-chip !p-1 border border-gray-400 whitespace-nowrap" ></p-chip>
                      }
                    </div>
                  }
                </div>
              }
            </td>
          }
          @if (this.artifactId) {
            <td>
              <div class="flex flex-row app-crud-panel-small">
                <button
                  pButton
                  pRipple
                  icon="pi pi-tags"
                  class="p-button-rounded p-button-outlined p-button-warn"
                  ngClass="mr-1"
                  (click)="onTagsButton($event, item)"
                  >
                </button>
                <app-crud-panel [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
              </div>
            </td>
          }
        </tr>
      </ng-template>
    </p-table>
    @if (deleteAction$ | async) {
    }
    @if (editAction$ | async; as editData) {
      @if (displayForm) {
        <app-track-form
          [(display)]="displayForm"
          [editItem]="editData[0]"
          [artifact]="data[1]"
          [mediaFileTable]="editData[1]"
          [artistsTable]="editData[2]"
          [dvProductsTable]="editData[3]"
          [artistTypeCode]="artistTypeCode"
          [artifactTypeId]="artifactTypeId"
        (onSavedItem)="savedEditData($event)"></app-track-form>
      }
    }
    @if (product$ | async; as editItem) {
      @if (displayProductForm) {
        <app-dvproduct-form
          [(display)]="displayProductForm"
          [editItem]="editItem"
          [dvOrigins]="[editItem.dvOrigin]"
          [dvCategories]="editItem.dvCategories"
          [formReadOnly]="true"
          >
        </app-dvproduct-form>
      }
    }
    @if (resetTrackNumbers$ | async) {
    }
    @if (importTracks$ | async; as importTracksData) {
      @if (displayImportTracksForm) {
        <app-tracks-import-form
          [(display)]="displayImportTracksForm"
          [artifact]="data[1]"
          [mediaFiles]="importTracksData"
          (onImport)="onImport()"
          >
        </app-tracks-import-form>
      }
    }
    @if (updateSelectedVideoTypes$ | async) {
    }
    @if (displayUpdateSelectedVideoTypesForm) {
      <app-tracks-update-selected-video-types-form
        [(display)]="displayUpdateSelectedVideoTypesForm"
        [artifact]="data[1]"
        [tracks]="selectedItems"
        (onImport)="onUpdateSelectedVideoTypes()"
        />
    }
    @if (updateSelectedTags$ | async ; as tags) {
      @if (displayUpdateSelectedTagsForm) {
        <app-tracks-update-selected-tags-form
          [(display)]="displayUpdateSelectedTagsForm"
          [artifact]="data[1]"
          [tracks]="selectedItems"
          [tags]="tags"
          (onImport)="onUpdateSelectedTags()"
          />
      }
    }
    @if (updateDurations$ | async; as updateDurationsData) {
      @if (displayUpdateDurationsForm) {
        <app-tracks-update-durations-form
          [(display)]="displayUpdateDurationsForm"
          [artifact]="data[1]"
          [mediaFiles]="updateDurationsData"
          (onImport)="onUpdateDurations()"
          >
        </app-tracks-update-durations-form>
      }
    }
    @if (updateTagsAction$ | async; as tagsEditItem) {
      @if (displayUpdateTagsForm) {
        <app-tagged-form [(display)]="displayUpdateTagsForm" [tags]="tagsEditItem[0]"  [editItem]="tagsEditItem[1]" tagResourceName="track" (onSavedItem)="savedUpdateTags()"></app-tagged-form>
      }
    }
  </div>
} @else {
  @if (!errorObject) {
    <app-loading></app-loading>
  }
}
