<app-confirm-dialog></app-confirm-dialog>

<ng-template #loadingOrError>
  <ng-container *ngIf="!errorObject">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<div #dtc *ngIf="data$ | async as artistTable; else loadingOrError">

  <div *ngIf="artistDetail$ | async as artistDetail">
    <app-text-view-dialog
      *ngIf="!!artistDetail.biography"
      [(display)]="displayArtistInfo"
      [header]="displayArtistName"
      [htmlText]="artistDetail.biography">
    </app-text-view-dialog>
  </div>

  <p-table #dt
           size="small"
           [value]="artistTable"
           [rows]="10"
           [paginator]="true"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5, 10, 15, 20, 50]"
           [(first)]="first"
           dataKey="id"
           stateStorage="session"
           stateKey="artist-table-session"
           [globalFilterFields]="['artistName']"
           (onFilter)="onFilter($event)"
           selectionMode="single"
           [(selection)]="selectedItem"
  >

    <ng-template pTemplate="caption">
      <div #dtcp class="flex">
        <div class="flex items-center justify-between text-xl mr-2">Artists</div>
        <div class="flex align-self-center"><app-crud-panel [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel></div>

        <button pButton type="button" label="Artifacts" icon="pi pi-building" iconPos="left"
                class="ml-2 p-button-outlined p-button-secondary p-2"
                *ngIf="selectedItem"
                (click)="onArtifactsButton($event)"
        ></button>

        <button pButton type="button" label="Tracks" icon="pi pi-list" iconPos="left"
                class="ml-2 p-button-outlined p-button-secondary p-2"
                *ngIf="selectedItem"
                (click)="onTracksButton($event)"
        ></button>

        <div class="flex justify-content-end flex-grow-1">
          <div class="flex align-items-center mr-2">
            <p-columnFilter type="boolean" field="isGenre" display="menu" class="flex align-items-center mr-1"></p-columnFilter>Genre exists
          </div>
          <div class="flex align-items-center mr-2">
            <p-columnFilter type="boolean" field="isDetail" display="menu" class="flex align-items-center mr-1"></p-columnFilter>Info exists
          </div>
          <span class="p-input-icon-left flex align-items-center">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                  pInputText
                  type="text"
                  [value]="globalFilterValue"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search keyword"
                />
            </p-iconfield>
          </span>
        </div>

      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:0">Id</th>
        <th>Name</th>
        <th style="width:0">
          <div class="flex justify-content-center align-items-center">
            Genre
            <p-columnFilter field="genre" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="filterGenres" placeholder="Any" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block vertical-align-middle">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th style="width:50%">
          Styles
          <p-columnFilter field="styles" matchMode="filter_styles" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="filterStyles" placeholder="Any" (onChange)="filter($event.value)">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.label }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width:0">Info</th>
        <th style="width:0">Lyrics</th>
        <th style="width:0"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td>{{item.id}}</td>
        <td>{{item.artistName}}</td>
        <td>
          <p-tag value="N/A" *ngIf="!item.genre" severity="warn" [rounded]="true"></p-tag>
          <p-tag value="{{item.genre}}" *ngIf="item.genre" severity="info" [rounded]="true"></p-tag>
        </td>
        <td>
          <div class="flex flex-wrap gap-1" *ngIf="item.styles">
            <div *ngFor="let style of item.styles">
              <p-chip label="{{style}}" styleClass="flex align-items-center text-xs p-2" *ngIf="style"></p-chip>
            </div>
          </div>
        </td>
        <td>
          <div class="flex justify-content-center app-crud-panel-small" *ngIf="item.detailId">
            <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined" (click)="displayArtistDetail(item)"></button>
          </div>
        </td>
        <td>
          <div class="flex justify-content-center app-crud-panel-small" *ngIf="item.hasLyrics">
            <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-secondary p-button-outlined" (click)="displayLyrics(item)"></button>
          </div>
        </td>
        <td>
          <app-crud-panel class="app-crud-panel-small" [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
        </td>
      </tr>
    </ng-template>

  </p-table>

  <ng-container *ngIf="deleteAction$ | async"></ng-container>

  <ng-container *ngIf="editAction$ | async as editItem">
    <app-artist-form *ngIf="displayForm" [(display)]="displayForm" [editItem]="editItem" [artistTable]="artistTable" (onSavedItem)="savedEditData($event)"></app-artist-form>
  </ng-container>

</div>

