<p-dialog [(visible)]="displayProp" [style]="{width: '70vw'}" [modal]="true" styleClass="p-fluid" header="Import Tracks">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="field mt-2">
        <label for="mediaFile">Media File</label>
        <p-dropdown
          formControlName="mediaFile"
          id="mediaFile"
          [options]="mediaFiles"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="field">
        <label for="dvType">Video Type</label>
        <p-dropdown
          formControlName="dvType"
          id="dvType"
          [options]="DV_TYPES"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
        ></p-dropdown>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Import" icon="pi pi-play" class="p-button-text" (click)="this.executeImport()"></button>
  </ng-template>
</p-dialog>
