<small>
  <span (click)="onClick()">{{version}}</span>
  @if (appInfo$ | async; as appInfo) {
    <span>
      @if (comparisonResult === ComparisonResult.CR_EQUAL) {
        <span>
          ({{appInfo.version}})
        </span>
      }
      @if (comparisonResult === ComparisonResult.CR_MINOR_DIFFERENCE) {
        <span>
          <p-tag severity="warn" value={{appInfo.version}}></p-tag>
        </span>
      }
      @if (comparisonResult === ComparisonResult.CR_MAJOR_DIFFERENCE) {
        <span>
          <p-tag severity="danger" value={{appInfo.version}}></p-tag>
        </span>
      }
    </span>
  }
</small>
