<app-confirm-dialog></app-confirm-dialog>

<ng-template #loadingOrError>
  <ng-container *ngIf="!errorObject">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<div #dtc *ngIf="filteredTable$ | async as table; else loadingOrError">

  <p-table #dt
           styleClass="p-datatable-sm"
           [value]="table"
           dataKey="id"
           [scrollable]="true"
           [scrollHeight]="scrollHeight"
           [globalFilterFields]="['title', 'frontInfo']"
           selectionMode="single" [(selection)]="selectedItem"
  >

    <ng-template pTemplate="caption">
      <div #caption class="flex">
        <div class="flex align-items-center justify-content-between text-xl mr-2">Products</div>
        <app-crud-panel class="flex align-items-center app-crud-panel-small" [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel>

        <form [formGroup]="filterForm">
          <div class="flex white-space-nowrap ml-2">
            <p-selectButton class="mr-1" [options]="ARTIFACT_TYPES" optionLabel="name" optionValue="code" [multiple]="false" formControlName="artifactTypeId"></p-selectButton>
          </div>
        </form>

        <div class="flex justify-content-end flex-grow-1">
          <span class="p-input-icon-left flex align-items-center">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [value]="globalFilterValue" (input)="dt.filterGlobal($any($event.target).value, 'contains');selectedItem=undefined;" placeholder="Search keyword" />
          </span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width:0">Id</th>
        <th style="width:0">
          <div class="flex align-items-center">
            Origin
            <p-columnFilter field="dvOrigin.name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="dvOriginNames" placeholder="Any" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block vertical-align-middle">
                      <span class="ml-1 mt-1">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>

        <th>Title</th>
        <th>Original Title</th>
        <th>Front Info</th>
        <th>
          <div class="flex align-items-center">
            Category
            <!--
            <p-columnFilter field="dvCategories.name" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="dvCategoryNames" placeholder="Any" (onChange)="filter($event.value)">
                  <ng-template let-option pTemplate="item">
                    <div class="inline-block vertical-align-middle">
                      <span class="ml-1 mt-1">{{ option }}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          -->
          </div>
        </th>
        <th style="width:0">Year</th>
        <th style="width:0"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td>{{item.id}}</td>
        <td>{{item.dvOrigin.name}}</td>
        <td>{{item.title}}</td>
        <td>{{item.originalTitle}}</td>
        <td>{{item.frontInfo}}</td>
        <td>
          <div class="flex flex-wrap gap-1" *ngIf="item.dvCategories">
            <div *ngFor="let category of item.dvCategories">
              <p-chip label="{{category.name}}" styleClass="flex align-items-center text-xs" *ngIf="category"></p-chip>
            </div>
          </div>
        </td>
        <td>{{item.year}}</td>
        <td>
          <app-crud-panel class="app-crud-panel-small" [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
        </td>
      </tr>
    </ng-template>

  </p-table>

  <ng-container *ngIf="deleteAction$ | async"></ng-container>

  <ng-container *ngIf="editAction$ | async as editItem">
    <app-dvproduct-form
      *ngIf="displayForm"
      [(display)]="displayForm"
      [editItem]="editItem[0]"
      [dvOrigins]="editItem[1]"
      [dvCategories]="editItem[2]"
      [frontInfos]="getFrontInfos(table)"
      (onSavedItem)="savedEditData($event)">
    </app-dvproduct-form>
  </ng-container>

</div>
