<p-dialog [(visible)]="displayProp" [style]="{width: '70vw'}" [modal]="true" header="Import Tracks" (onShow)="onShow()">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <p-fluid>
        <div class="mb-4 mt-2">
          <label for="mediaFile">Media File</label>
          <p-dropdown
            #autofocused
            formControlName="mediaFile"
            id="mediaFile"
            [options]="mediaFiles"
            optionLabel="name"
            optionValue="id"
            appendTo="body"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['mediaFile'].errors}"
          ></p-dropdown>
        </div>
      </p-fluid>

      <div class="grid grid-cols-2 gap-2">
        <div class="mb-4">
            <label for="dvType">Video Type</label>
            <p-select
              formControlName="dvType"
              id="dvType"
              [options]="DV_TYPES"
              optionLabel="name"
              optionValue="id"
              appendTo="body"
              [editable]="false"
              class="w-full"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['dvType'].errors}"
            ></p-select>
        </div>

        <div class="mb-4">
            <label for="num">Track #</label>
            <p-inputNumber
              formControlName="num"
              id="num"
              class="w-full"
              [format]="false"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['num'].errors}"
            ></p-inputNumber>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-2">
        <div class="mb-4">
          <label for="titles">
            Titles
            <span *ngIf="editFormData$ | async as editFormData">
              <span *ngIf="textToArray(editFormData.titles).length > 0">
                ({{textToArray(editFormData.titles).length}} lines)
              </span>
            </span>
          </label>
          <textarea
            pTextarea
            id="titles"
            formControlName="titles"
            style="resize: none"
            rows="5"
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['titles'].errors}"
          ></textarea>
        </div>
        <div class="mb-4" *ngIf="isArtifactTypeVideoWithProducts">
          <label for="chapters">
            Chapters
          </label>
          <textarea
            pTextarea
            id="chapters"
            formControlName="chapters"
            style="resize: none"
            rows="5"
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['chapters'].errors}"
          ></textarea>
        </div>
        <div class="mb-4" *ngIf="isArtifactTypeVideoMusic">
          <label for="chapters">
            Artists
            <span *ngIf="editFormData$ | async as editFormData">
              <span *ngIf="textToArray(editFormData.artists).length > 0">
                ({{textToArray(editFormData.artists).length}} lines)
              </span>
            </span>
          </label>
          <textarea
            pTextarea
            id="artists"
            formControlName="artists"
            style="resize: none"
            rows="5"
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['artists'].errors}"
          ></textarea>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Import" icon="pi pi-play" class="p-button-text" (click)="this.executeImport()"></button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="import$ | async as importStats">
</ng-container>
