<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" header="Category Edit" (onShow)="onShow()">
  <ng-template #content>
    <form [formGroup]="editForm">
      <div class="field">
        <label for="name">Name</label>
        <input
          #autofocused
          type="text"
          pInputText
          id="name"
          formControlName="name"
          required
          class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['name'].errors}"
          />
      </div>

      <div>
        <p-message severity="error" variant="simple" size="small" [ngStyle]="{'visibility': submitted && editForm.controls['name'].errors ? 'visible' : 'hidden'}" >Name is required.</p-message>
      </div>

    </form>
  </ng-template>
  <ng-template #footer>
    <button pButton type="button" [text]="true" (click)="hideDialog()"><i class="pi pi-times"></i>Cancel</button>
    <button pButton type="button" [text]="true" (click)="save()"><i class="pi pi-check"></i>Save</button>
  </ng-template>

  @if (saveAction$ | async) {}

</p-dialog>


