<app-confirm-dialog></app-confirm-dialog>


@if (data(); as data) {
  <div>
    @if (artistLyricsText$ | async; as artistLyricsText) {
      <div>
        @if (!!artistLyricsText.text) {
          <app-text-view-dialog
            [(display)]="displayArtistLyricsText"
            dialogPosition="right"
            [header]="artistLyricsText.title"
            [text]="artistLyricsText.text"
            >
          </app-text-view-dialog>
        }
      </div>
    }
    <div class="grid grid-cols-12">
      <div class="col-span-12 md:col-span-10 lg:col-span-8">
        <p-table #dt
          styleClass="p-datatable-sm"
          size="small"
          responsiveLayout="scroll"
          [value]="data[0]"
          [rows]="10"
          [paginator]="true"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 15, 20, 50]"
          dataKey="id"
          stateStorage="session"
          stateKey="artist-lyrics-table-session"
          [globalFilterFields]="['artistName', 'title']"
          (onFilter)="onFilter($event)">
          <ng-template #caption>
            <div class="flex">
              <div class="flex items-center justify-between text-xl mr-2">Lyrics</div>
              <div class="flex self-center"><app-crud-panel [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel></div>
              <div class="flex flex-1 justify-end">
                <span class="p-input-icon-left flex items-center">
                  <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                      <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                      pInputText
                      type="text"
                      [value]="globalFilterValue"
                      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Search keyword"
                      />
                  </p-iconfield>
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template #header>
            <tr>
              <th style="width:30%">
                <div class="flex items-center">
                  Artist name
                  <p-column-filter field="artistName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template #filter let-value let-filter="filterCallback">
                      <p-multi-select
                        [ngModel]="value"
                        [options]="data[1]"
                        optionLabel="name"
                        optionValue="name"
                        placeholder="All"
                        (onChange)="filter($event.value)"
                        display="chip"
                        style="min-width: 14rem"
                        [panelStyle]="{ minWidth: '16rem' }">
                      </p-multi-select>
                    </ng-template>
                  </p-column-filter>
                </div>
              </th>
              <th style="width:70%">
                <div class="flex items-center">
                  Title
                  <p-column-filter type="text" field="title" class="ml-2"></p-column-filter>
                </div>
              </th>
              <th style="width:0"></th>
            </tr>
          </ng-template>
          <ng-template #body let-item>
            <tr>
              <td>{{item.artistName}}</td>
              <td>
                <button pButton type="button" [link]="true" (click)="displayLyrics($event, item)" class="!p-0 !m-0">{{item.title}}</button>
              </td>
              <td>
                <div class="app-crud-panel-small">
                  <app-crud-panel [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        @if (deleteAction$ | async) {
        }
        @if (editAction$ | async; as editItem) {
          @if (displayForm) {
            <app-artist-lyrics-form [(display)]="displayForm" [editItem]="editItem[0]" [artistTable]="editItem[1]" (onSavedItem)="savedEditData($event)"></app-artist-lyrics-form>
          }
        }
      </div>
    </div>
  </div>
} @else {
  @if (!errorObject) {
    <app-loading></app-loading>
  }
}
