<app-confirm-dialog></app-confirm-dialog>

<ng-template #loadingOrError>
  <ng-container *ngIf="!errorObject">
    <app-loading></app-loading>
  </ng-container>
</ng-template>

<div *ngIf="data$ | async as data; else loadingOrError">

  <div *ngIf="artistLyricsText$ | async as artistLyricsText">
    <app-text-view-dialog
      *ngIf="!!artistLyricsText.text"
      [(display)]="displayArtistLyricsText"
      dialogPosition="right"
      [header]="artistLyricsText.title"
      [text]="artistLyricsText.text"
    >
    </app-text-view-dialog>
  </div>

  <div class="grid">
    <div class="col-12 md:col-10 lg:col-8">
      <p-table #dt
               styleClass="p-datatable-sm"
               size="small"
               responsiveLayout="scroll"
               [value]="data[0]"
               [rows]="10"
               [paginator]="true"
               [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[5, 10, 15, 20, 50]"
               dataKey="id"
               stateStorage="session"
               stateKey="artist-lyrics-table-session"
               [globalFilterFields]="['artistName', 'title']"
               (onFilter)="onFilter($event)">
        <ng-template pTemplate="caption">
          <div class="flex">
            <div class="flex align-items-center justify-content-between text-xl mr-2">Lyrics</div>
            <div class="flex align-self-center"><app-crud-panel [crudActions]="[CRUDAction.EA_CREATE]" (crudEvent)="crudEvent($event)"></app-crud-panel></div>
            <div class="flex flex-1 justify-content-end">
              <span class="p-input-icon-left flex align-items-center">
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input
                      pInputText
                      type="text"
                      [value]="globalFilterValue"
                      (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Search keyword"
                    />
                </p-iconfield>
              </span>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width:30%">
              <div class="flex items-center align-items-center">
                Artist name
                <p-columnFilter field="artistName" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect
                      [ngModel]="value"
                      [options]="data[1]"
                      optionLabel="name"
                      optionValue="name"
                      placeholder="All"
                      (onChange)="filter($event.value)"
                      display="chip">
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th>
            <th style="width:70%">
              <div class="flex items-center align-items-center">
                Title
                <p-columnFilter type="text" field="title" class="ml-2"></p-columnFilter>
              </div>
            </th>
            <th style="width:0"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{item.artistName}}</td>
            <td><a href="#" (click)="displayLyrics($event, item)"> {{item.title}}</a></td>
            <td>
              <div class="app-crud-panel-small">
                <app-crud-panel [data]="item" [crudActions]="[CRUDAction.EA_UPDATE, CRUDAction.EA_DELETE]" (crudEvent)="crudEvent($event)"></app-crud-panel>
              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>

      <ng-container *ngIf="deleteAction$ | async"></ng-container>

      <ng-container *ngIf="editAction$ | async as editItem">
        <app-artist-lyrics-form *ngIf="displayForm" [(display)]="displayForm" [editItem]="editItem[0]" [artistTable]="editItem[1]" (onSavedItem)="savedEditData($event)"></app-artist-lyrics-form>
      </ng-container>

    </div>
  </div>


</div>
