<p-confirmPopup key="styles"></p-confirmPopup>

<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Artist Edit">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="grid">
        <div class="col">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="artistName" required autofocus
                     [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['artistName'].errors}"
              />
          </div>

          <div class="field">
            <p-selectButton [options]="artistTypes" optionLabel="name" optionValue="code" [multiple]="false" formControlName="artistType"></p-selectButton>
          </div>

          <div class="field">
            <label for="genre">Genre</label>
            <p-autoComplete
              [suggestions]="filteredGenres"
              [dropdown]="true"
              (completeMethod)="searchGenres($event)"
              id="genre"
              formControlName="genre"
              class="mt-2"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['genre'].errors}"
            >
            </p-autoComplete>
          </div>
          <div class="field">
            <label for="styles">Styles</label>
            <p-autoComplete
              [suggestions]="filteredStyles"
              (completeMethod)="searchStyles($event)"
              id="styles"
              formControlName="styles"
              [multiple]="true"
              class="mt-2"
              (onKeyUp)="stylesKeyUp($event)"
            >
            </p-autoComplete>
          </div>
          <div>
            <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['artistName'].errors ? 'visible' : 'hidden'}" >Name is required.</small>
            <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['genre'].errors ? 'visible' : 'hidden'}" >Genre is required.</small>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <label for="biography">Biography</label>
            <textarea id="biography" pInputTextarea rows="20" cols="20" formControlName="biography"></textarea>
          </div>
          <button
            pButton type="button"
            label="Preview"
            iconPos="right"
            class="p-button-outlined p-button-rounded"
            icon="pi pi-window-maximize"
            (click)="previewBiography()">
          </button>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveArtist()"></button>
  </ng-template>

  <ng-container *ngIf="editFormChanges$ | async as editForm">
  </ng-container>

  <ng-container *ngIf="saver$ | async as saver">
  </ng-container>

  <app-biography-form
      *ngIf="!!editForm.value.biography"
    [(display)]="displayBiography"
    [header]="editForm.value.artistName"
    [biography]="editForm.value.biography">
  </app-biography-form>

</p-dialog>
