<p-confirmpopup key="tags"></p-confirmpopup>

<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Tags">
  <ng-template #content>
    <form [formGroup]="editForm">
      <p-fluid class="mb-4">
        <p-auto-complete
          [dropdown]="true"
          [suggestions]="filteredTags"
          (completeMethod)="searchTags($event)"
          id="tags"
          formControlName="tags"
          [multiple]="true"
          class="mt-2"
          (onKeyUp)="tagsKeyUp($event)"
          appendTo="body"
          >
        </p-auto-complete>
      </p-fluid>
    </form>
  </ng-template>

  <ng-template #footer>
    <button pButton type="button" [text]="true" (click)="hideDialog()"><i class="pi pi-times"></i>Cancel</button>
    <button pButton type="button" [text]="true" (click)="save()"><i class="pi pi-check"></i>Save</button>
  </ng-template>

  @if (saveAction$ | async ) {
  }

</p-dialog>
