<p-confirmPopup key="tags"></p-confirmPopup>

<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Tags">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <p-fluid class="mb-4">
        <p-autoComplete
          [dropdown]="true"
          [suggestions]="filteredTags"
          (completeMethod)="searchTags($event)"
          id="tags"
          formControlName="tags"
          [multiple]="true"
          class="mt-2"
          (onKeyUp)="tagsKeyUp($event)"
          appendTo="body"
        >
        </p-autoComplete>
      </p-fluid>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  <ng-container *ngIf="saveAction$ | async "></ng-container>

</p-dialog>
