@if (indicatorType === IndicatorType.IT_ERROR) {
  <span class="p-button-icon-only p-button-danger p-button-text" style="cursor: auto;"><i class="pi pi-times-circle"></i></span>
}
@if (indicatorType === IndicatorType.IT_SUCCESS) {
  <span class="p-button-icon-only p-button-success p-button-text" style="cursor: auto;"><i class="pi pi-check-circle"></i></span>
}
@if (indicatorType === IndicatorType.IT_WARNING) {
  <span class="p-button-icon-only p-button-warning p-button-text" style="cursor: auto;"><i class="pi pi-exclamation-circle"></i></span>
}
@if (indicatorType === IndicatorType.IT_INFO) {
  <span class="p-button-icon-only p-button-text" style="cursor: auto;"><i class="pi pi-info-circle"></i></span>
}
