<p-confirmPopup key="styles"></p-confirmPopup>

<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" header="Artist Edit" (onShow)="onShow()">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
      <div class="grid grid-cols-2 gap-4">
        <p-fluid>
          <div class="mb-4">
            <label for="name">Name</label>
            <input #autofocused type="text" pInputText id="name" formControlName="artistName" required
                     [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['artistName'].errors}"
              />
          </div>

          <div class="field flex justify-center">
            <p-selectButton
              [options]="artistTypes"
              optionLabel="name"
              optionValue="code"
              [multiple]="false"
              [allowEmpty]="false"
              formControlName="artistType"
            ></p-selectButton>
          </div>

          <div class="mb-4">
            <label for="genre">Genre</label>
            <p-autoComplete
              [suggestions]="filteredGenres"
              [dropdown]="true"
              (completeMethod)="searchGenres($event)"
              id="genre"
              formControlName="genre"
              class="mt-2"
              [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['genre'].errors}"
            >
            </p-autoComplete>
          </div>
          <div class="mb-4">
            <label for="styles">Styles</label>
            <p-autoComplete
              [suggestions]="filteredStyles"
              (completeMethod)="searchStyles($event)"
              id="styles"
              formControlName="styles"
              [multiple]="true"
              class="mt-2"
              (onKeyUp)="stylesKeyUp($event)"
            >
            </p-autoComplete>
          </div>
          <div>
            <p-message severity="error" variant="simple" size="small" [ngStyle]="{'visibility': submitted && editForm.controls['artistName'].errors ? 'visible' : 'hidden'}" >Name is required.</p-message>
            <p-message severity="error" variant="simple" size="small" [ngStyle]="{'visibility': submitted && editForm.controls['genre'].errors ? 'visible' : 'hidden'}" >Genre is required.</p-message>
          </div>
        </p-fluid>

        <p-fluid>
          <div class="mb-4">
            <label for="biography">Biography</label>
            <textarea id="biography" pTextarea rows="20" cols="20" formControlName="biography"></textarea>
          </div>
          <button
            pButton type="button"
            label="Preview"
            iconPos="right"
            class="p-button-outlined p-button-rounded"
            icon="pi pi-window-maximize"
            (click)="previewBiography()">
          </button>
        </p-fluid>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  <ng-container *ngIf="saveAction$ | async as saver"></ng-container>

  <app-text-view-dialog
      *ngIf="!!editForm.value['biography']"
    [(display)]="displayBiography"
    [header]="editForm.value['artistName']?? ''"
    [htmlText]="editForm.value['biography']">
  </app-text-view-dialog>

</p-dialog>
