<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Track Edit">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">
        <div class="grid">

          <div class="field col-12 mb-0">
            <label for="title">Title</label>
            <input type="text" pInputText id="title" formControlName="title" required autofocus
                   [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['title'].errors}"
            />
          </div>

          <div class="field col-6 mb-0" *ngIf="artifactTypeConfig?.hasDiskNum">
            <label for="diskNum">Disk #</label>
            <p-inputNumber mode="decimal" [showButtons]="true" inputId="diskNum" [min]="1" [max]="19" id="diskNum" formControlName="diskNum"
                           [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['diskNum'].errors}"
            >
            </p-inputNumber>
          </div>

          <div class="field mb-0" [ngClass]="artifactTypeConfig?.hasDiskNum ? 'col-6' : 'col-12'">
            <label for="num">Track #</label>
            <p-inputNumber mode="decimal" [showButtons]="true" inputId="num" [min]="1" [max]="99" id="num" formControlName="num"
                           [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['num'].errors}">
            </p-inputNumber>
          </div>

          <div class="field mb-0" [ngClass]="artifactTypeConfig?.hasDvType ? 'col-6' : 'col-12'">
            <label for="duration">
              Duration ({{this.editForm.value.duration * 1000 | date:'HH:mm:ss':'GMT'}})
              <span *ngIf="this.editMediaFileIds.length > 0" (click)="onUpdateDuration($event)" class="cursor-pointer"><i class="pi pi-refresh"></i></span>
            </label>
            <input type="number" pInputText id="duration" formControlName="duration"
                   [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['duration'].errors}"
            />
          </div>

          <div class="field col-6 mb-0" *ngIf="artifactTypeConfig?.hasDvType">
            <label for="dvType">Video Type</label>
            <p-dropdown id="dvType" [options]="DV_TYPES" optionLabel="name" optionValue="id" formControlName="dvTypeId" appendTo="body">
            </p-dropdown>
          </div>

          <div class="field col-6 mb-0" [ngClass]="artifactTypeConfig?.hasPerformerArtist ? 'col-6' : 'col-12'" *ngIf="artifactTypeConfig?.hasArtist">
            <label for="artistId">Artist</label>
            <p-autoComplete
              [suggestions]="filteredArtists"
              (completeMethod)="searchArtists($event)"
              id="artistId"
              formControlName="artistId"
              dataKey="id"
              optionLabel="name"
              [multiple]="false"
              [dropdown]="true"
              [forceSelection]="true"
              [autofocus]="true"
            >
            </p-autoComplete>
          </div>

          <div class="field col-6 mb-0" *ngIf="artifactTypeConfig?.hasPerformerArtist">
            <label for="performerArtistId">Performer Artist</label>
            <p-autoComplete
              [suggestions]="filteredPerformerArtists"
              (completeMethod)="searchPerformerArtists($event)"
              id="performerArtistId"
              formControlName="performerArtistId"
              dataKey="id"
              optionLabel="name"
              [multiple]="false"
              [dropdown]="true"
              [forceSelection]="true"
              [autofocus]="true"
            >
            </p-autoComplete>
          </div>

          <div class="field col-12 mb-0">
            <label for="mediaFileIds">Media files</label>
            <p-multiSelect [options]="mediaFileTable" optionLabel="name" optionValue="id" id="mediaFileIds" formControlName="mediaFileIds" appendTo="body"></p-multiSelect>
          </div>

          <div class="field col-12" *ngIf="artifactTypeConfig?.hasProducts">
            <label for="dvProductId">Product</label>
            <!--
            <p-dropdown id="dvProductId" [options]="dvProductsTable" optionLabel="title" optionValue="id" formControlName="dvProductId"
                        appendTo="body" [showClear]="true" placeholder="Select a Product">
            </p-dropdown>
            -->
            <p-autoComplete
              [suggestions]="filteredDvProducts"
              (completeMethod)="searchDvProducts($event)"
              id="dvProductId"
              formControlName="dvProductId"
              dataKey="id"
              optionLabel="title"
              [multiple]="false"
              [dropdown]="true"
              [forceSelection]="true"
              [showClear]="true"
              (onClear)="editForm.patchValue({dvProduct: null})"
              appendTo="body"
            >
            </p-autoComplete>
          </div>

        </div>


    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  <ng-container *ngIf="saveAction$ | async as saver"></ng-container>
  <ng-container *ngIf="editFormData$ | async as _"></ng-container>

</p-dialog>

