@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

.p-menubar {
  border-radius: 0;
}

body {
  margin: 0;
}

.bg-success {
  background: darkseagreen!important;
}

.bg-failure {
  background: lightcoral!important;
}

.text-primary {
  color: var(--p-primary-color)!important;
  font-weight: 600;
}

.text-white {
  color: white!important;
  border-color: white!important;
}
