/* You can add global styles to this file, and also import other style files */

.p-menubar {
  border-radius: 0;
}

body {
  margin: 0;
}

.bg-success {
  background: darkseagreen!important;
}

.bg-failure {
  background: lightcoral!important;
}
