<p-dialog [(visible)]="displayProp" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid" header="Media file Edit">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm">

      <div class="field" *ngIf="mediaFileNames | async as mediaFileNames">
        <label for="name">
          Name&nbsp;<span *ngIf="this.editItem?.id" (click)="onUpdateMediaFileAttributes($event)" class="cursor-pointer"><i class="pi pi-refresh"></i></span>
        </label>
        <p-dropdown
          id="name"
          [options]="mediaFileNames"
          [editable]="true"
          optionLabel="text"
          optionValue="text"
          formControlName="name"
          [required]="true"
          [autofocus]="true"
          appendTo="body"
          [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['name'].errors}"
        ></p-dropdown>

      </div>

      <div class="field">
        <label for="format">Format</label>
        <input type="text" pInputText id="format" formControlName="format" required
               [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['format'].errors}"
        />
      </div>

      <div class="grid">
        <div class="col field">
          <label for="size">Size ({{this.editForm.value.size | fileSize}})</label>
          <input type="number" pInputText id="size" formControlName="size"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['size'].errors}"
          />
        </div>

        <div class="col field">
          <label for="bitrate">Bitrate</label>
          <input type="number" pInputText id="bitrate" formControlName="bitrate"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['bitrate'].errors}"
          />
        </div>

        <div class="col field">
          <label for="duration">Duration ({{this.editForm.value.duration * 1000 | date:'HH:mm:ss':'GMT'}})</label>
          <input type="number" pInputText id="duration" formControlName="duration"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['duration'].errors}"
          />
        </div>
      </div>

      <div class="grid" *ngIf="isVideo">
        <div class="col field">
          <label for="width">Width</label>
          <input type="number" pInputText id="width" formControlName="width"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['width'].errors}"
          />
        </div>

        <div class="col field">
          <label for="height">Height</label>
          <input type="number" pInputText id="height" formControlName="height"
                 [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['height'].errors}"
          />
        </div>
      </div>

      <div class="field" *ngIf="isVideo">
        <label for="extra">Extra</label>
        <textarea
          pInputTextarea
          id="extra"
          formControlName="extra"
          style="resize: none"
          rows="5"
          [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.controls['extra'].errors}"
        ></textarea>
        <small class="p-error block" [ngStyle]="{'visibility': submitted && editForm.controls['extra'].errors ? 'visible' : 'hidden'}">
          {{editForm.controls['extra'].errors?.['extra']}} &nbsp;
        </small>
      </div>
    </form>

  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>

  <ng-container *ngIf="saveAction$ | async as saver"></ng-container>
  <ng-container *ngIf="mediaFileAttributesAction$ | async"></ng-container>

</p-dialog>
