<form [formGroup]="formGroup">
  <div class="flex flex-row">
    <p-fluid class="flex flex-col mr-1">
      <p-button
        variant="outlined"
        severity="secondary"
        [label]="ARTIFACT_TYPE_GROUPS_MUSIC[0].name"
        (onClick)="groupMusicClick($event)"
      ></p-button>
      <p-selectButton
        [options]="ARTIFACT_MUSIC_TYPES"
        optionLabel="name"
        optionValue="code"
        [allowEmpty]="true"
        [multiple]="true"
        id="artifactTypeMusic"
        formControlName="artifactTypeMusic"
      >
      </p-selectButton>
    </p-fluid>
    <p-fluid class="flex flex-col">
      <p-button
        variant="outlined"
        severity="secondary"
        [label]="ARTIFACT_TYPE_GROUPS_VIDEO[0].name"
        (onClick)="groupVideoClick($event)"
      ></p-button>
      <p-selectButton
        [options]="ARTIFACT_VIDEO_TYPES"
        optionLabel="name"
        optionValue="code"
        [allowEmpty]="true"
        [multiple]="true"
        id="artifactTypeVideo"
        formControlName="artifactTypeVideo"
      ></p-selectButton>
    </p-fluid>
  </div>
</form>

<ng-container *ngIf="formGroupChange$ | async"></ng-container>
