<div class="flex">
  @if (crudActions.indexOf(CRUDAction.EA_CREATE) !== -1) {
    <button pButton type="button"
      [rounded]="true" severity="primary" [outlined]="true" [iconOnly]="true"
      [ngClass]="crudActions.indexOf(CRUDAction.EA_DELETE) !==0 || crudActions.indexOf(CRUDAction.EA_UPDATE) !==0 ? 'mr-1' : ''"
      (click)="crudEvent.emit({action: CRUDAction.EA_CREATE, data: undefined})">
      <i class="pi pi-plus"></i>
    </button>
  }
  @if (crudActions.indexOf(CRUDAction.EA_UPDATE) !== -1) {
    <button pButton type="button"
      [rounded]="true" [outlined]="true" severity="primary" [iconOnly]="true"
      [ngClass]="crudActions.indexOf(CRUDAction.EA_DELETE) !== 0 ? 'mr-1' : ''"
      (click)="crudEvent.emit({action: CRUDAction.EA_UPDATE, data})">
      <i class="pi pi-pencil"></i>
    </button>
  }
  @if (crudActions.indexOf(CRUDAction.EA_DELETE) !== -1) {
    <button pButton type="button"
      [rounded]="true" [outlined]="true" severity="danger" [iconOnly]="true"
      (click)="crudEvent.emit({action: CRUDAction.EA_DELETE, data})">
      <i class="pi pi-trash"></i>
    </button>
  }
</div>
